<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<dict>
		<key>X-Apple-I-Client-Time</key>
		<string>2026-02-19T15:37:56Z</string>
		<key>X-Apple-I-MD</key>
		<string>AAAABQAAABAl1+hljyE6CP72AW7O9XLzAAAABA==</string>
		<key>X-Apple-I-MD-LU</key>
		<string>00F42BF6BB0006CBBC32CE20647E8F05AFE100E58F7DA801D61023D2E29A928B</string>
		<key>X-Apple-I-MD-M</key>
		<string>7JOyFsHcG9bYMAZ1zptP4zizXgkQGw27hhzdYToELJEanzOat8agNZw+IKzISq1oM+UCYg7RycJ8I2Tn</string>
		<key>X-Apple-I-MD-RINFO</key>
		<string>17106176</string>
		<key>X-Apple-I-SRL-NO</key>
		<string>0</string>
		<key>X-Apple-I-TimeZone</key>
		<string>UTC</string>
		<key>X-Apple-Locale</key>
		<string>en_US</string>
		<key>X-MMe-Client-Info</key>
		<string>&lt;MacBookPro13,2&gt; &lt;macOS;13.1;22C65&gt; &lt;com.apple.AuthKit/1 (com.apple.dt.Xcode/3594.4.19)&gt;</string>
		<key>X-Mme-Device-Id</key>
		<string>63F8D2D5-15F8-4695-B895-B8F42F03F099</string>
	</dict>
	<key>Request</key>
	<dict>
		<key>u</key>
		<string>bb@inf-ing.com</string>
		<key>o</key>
		<string>init</string>
		<key>A</key>
		<data>
		AAAABQ==
		</data>
		<key>ps</key>
		<array>
			<string>s2k</string>
			<string>s2k_v2</string>
		</array>
	</dict>
</dict>
</plist>
